html {
  width: 400px;
  height: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#grid-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#focus-toggle {
  text-align: right;
}

/* Switch slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #457b9d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #457b9d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* END Switch slider */

/* General formatting */

#blocked-site-table-header {
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.bold-text {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.page-icon  {
  color: #457b9d;
}

.form-inline {
  display: inline;
}

.form-inline input {
  display: inline;
  vertical-align: middle;
  width: 250px;
}

/* Style the submit button */
.form-inline button {
  display: inline;
  vertical-align: middle;
}

#focus-label {
  display: inline;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 3px;
  text-align: right;
}

#custom-time {
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

#timer {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

.donation-link {
  padding-top: 30px;
}

#donation-button {
  width: 150px;
}

/* --------------- Button formatting ------------------ */

#timer-btn {
  text-align: center;
}

.btn-light-custom {
  background-color: #a8dadc;
}

.btn-primary-custom {
 background-color: #1d3557;
 color: white;
}

.btn-primary-custom:hover {
  background-color: #457b9d;
  /* color: white; */
 }

.btn-danger-custom {
  background-color: #e63946;
  color: white;
 }

.btn-danger-custom:hover {
  background-color: #e63946;
  /* color: white; */
 }

 /* --------------- Table formatting ------------------ */

.tableFixHead {
  overflow-y: auto;
  height: 400px;
}
.tableFixHead thead th {
  /* position: sticky; */
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}