@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  width: 400px;
}

h1 {
  color: #fff;
}

.header {
  width: 400px;
  height: 50px;
}

.header-bar {
  align-items: center;
  background: #8529cd;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}